@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
	background-color: #F5F5EE;
}

.toolbar {
	display: flex;
  	justify-content: center;
	margin-bottom: 1rem;
}

.toolbar-contents {
	display: flex;
	align-items: center;
	width: 1055px;
  	gap: 1rem;
}

.toolbar-image {
	width: 40px;
  	cursor: pointer;
}

.toolbar-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
  	cursor: pointer;
	margin-left: 25px;
}