@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
	background-color: #F5F5EE;
}

.toolbar {
	display: flex;
  	align-items: center;
  	gap: 2rem;
	margin-left: 17%;
	margin-bottom: 2rem;
}

.toolbar-image {
	width: 50px;
  	cursor: pointer;
}

.toolbar-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
  	cursor: pointer;
}