@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.filter-section {
	position: absolute;
	left: 17%;
	background-color: #fdfef7;
	width: 20%;
	height: 50%;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
}

.filter-title {
	color: black;
	font-size: 24px;
	margin-top: -10px;
}

.filter-input {
	margin-top: -10px;
	padding: 8px 5px 8px 5px;
	border: 2px solid #8a8a8a;
	border-radius: 5px;
	font-size: 16px;
	width: 250px;
	font-family: 'Montserrat', sans-serif;
}

.filter-select {
	margin-top: -10px;
	font-size: 16px;
	border: 2px solid #8a8a8a;
	border-radius: 6px;
	width: 264px;
	font-family: 'Montserrat', sans-serif;
}

.filter-button {
	position: absolute;
	top: 450px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	padding: 8px 15px 8px 15px;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	background-color: #f8648e;
}

.filter-button:hover {
	background-color: #d92d5e;
}


.posting-card {
	width: 800px;
	height: 150px;
	background-color: #fdfef7;
	font-family: 'Montserrat', sans-serif;
	padding-left: 20px;
	padding-top: 1px;
	margin-bottom: 10px;
	margin-left: 24.5%;
	border-radius: 4px;
	cursor: pointer;
}

.posting-title {
	color: black;
	font-size: 24px;
	max-width: fit-content;
	border-bottom: 1px solid #bbbbbb;
	margin-top: 15px;
}

.posting-text {
	/* color: #4e4e4e; */
	color: #f8648e;
	font-size: 18px;
	margin-bottom: 25px;
	margin-top: -10px;
}

.posting-tag {
	font-size: 14px;
	border: 1px solid #e5e7eb;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 10px;
}